.v-notification-enter {
  transform: translate(100%);
}

.v-notification-enter-active {
  transform: translate(0px);
  transition: all 400ms;
}

.v-notification-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.v-notification-exit-active {
  transform: translate(0, -20px);
  opacity: 0.01;
  transition: all 400ms;
}

.v-notification-wrapper {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
}
.v-notification-content {
  width: 360px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: cursive;
  white-space: wrap;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-weight: 600;
      font-size: 18px;
    }
    .icon-cross {
      margin-left: 20px;
      color: #bcb4b4;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .content {
    margin-top: 20px;
  }
}
