@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.v-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px !important;
  animation: rotate 3s linear infinite;
}
