.v-collapse {
  margin-bottom: 10px;
  border-bottom: 1px solid #f7f6f6;
}
.v-collapse-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 2px;
  font-size: 18px;
  font-family: cursive;
  cursor: pointer;
}
.v-collapse-content {
  padding: 10px 2px;
  font-size: 17px;
  font-family: cursive;
}
