@button-default: #fff;
@button-default-color: #000;
@button-primary: #4b50d5;
@button-primary-color: #fff;
@button-danger: #e82b2b;
@button-danger-color: #fff;

.v-button {
  box-sizing: border-box;
  width: 94px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  // font-family: cursive;
  // line-height: 38px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  .iconfont {
    margin-right: 10px;
    font-size: 15px;
    // vertical-align: middle;
  }
  &-default {
    color: @button-default-color;
    background: @button-default;
    border: 1px solid #cfcfcf;

    &:hover {
      background: rgb(252, 251, 251);
    }
  }

  &-primary {
    color: @button-primary-color;
    background: @button-primary;
    border: 1px solid @button-primary;
    &:hover {
      background: #4247d6;
    }
  }

  &-danger {
    color: @button-danger-color;
    background: @button-danger;
    border: 1px solid @button-danger;
    &:hover {
      background: #e21c1c;
    }
  }

  &-plain {
    background: #fff;
    &:hover {
      background: rgba(250, 250, 250, 0.6);
    }
    &.v-button-default {
      border-color: rgba(229, 229, 229, 0.8);
    }
    &.v-button-primary {
      color: @button-primary;
    }

    &.v-button-danger {
      color: @button-danger;
    }
  }

  &-small {
    width: 60px;
    height: 28px;
    font-size: 12px;
    line-height: 24px;
  }

  &-large {
    width: 250px;
    height: 50px;
    font-size: 24px;
    line-height: 48px;
  }

  &-hairline {
    border-width: 0.5px;
  }

  &-disabled {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(211, 210, 210);
    cursor: not-allowed;
    &:hover {
      background: #eee;
    }
  }
}
