button {
  border-width: thin;
  background: #fff;
  border-radius: 2px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  font-family: cursive;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.default {
  background: #fff;
  border: 1px solid rgb(220, 219, 219);
  color: #000;
}

.primary {
  background: #3f45ff;
  border: 1px solid #3f45ff;
}

.success {
  background: #2bdc63;
  border: 1px solid #2bdc63;
}

.warning {
  background: #e89b17;
  border: 1px solid #e89b17;
}

.danger {
  background: #e82b2b;
  border: 1px solid #e82b2b;
}

.colorful {
  background: linear-gradient(
    to right,
    #9ed110,
    #50b517,
    #179067,
    #476eaf,
    #9f49ac,
    #cc42a2,
    #ff3ba7,
    #ff5800,
    #ff8100,
    #feac00,
    #ffcc00,
    #ede604,
    #000
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border: 1px solid rgba(228, 226, 226, 0.899);
}

.mini {
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.large {
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}

.hairline {
  border-width: 1px;
}

.plain {
  background: #fff;
  color: #000;
}
