button {
  border-width: thin;
  background: #fff;
  border-radius: 2px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  font-family: cursive;
  color: #fff;
  border: none;
  cursor: pointer;
}

.default {
  background: #fff;
  border: 1px solid rgb(220, 219, 219);
  color: #000;
}

.primary {
  background: #3f45ff;
  border: 1px solid #3f45ff;
}

.success {
  background: #2bdc63;
  border: 1px solid #2bdc63;
}

.warning {
  background: #e89b17;
  border: 1px solid #e89b17;
}

.danger {
  background: #e82b2b;
  border: 1px solid #e82b2b;
}

.mini {
  width: 60px;
  height: 30px;
  line-height: 30px;
}

.large {
  width: 160px;
  height: 44px;
  line-height: 44px;
}
