@keyframes show {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

@keyframes showBtn {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

body {
  overflow: hidden;
}
.__dumi-default-layout {
  padding-top: 0 !important;
}
.__dumi-default-navbar {
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
}
.__dumi-default-layout-content {
  height: calc(100vh - 64px);
  padding-top: 114px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
}
.theme-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.dumi-theme-title {
  position: absolute;
  top: 200px;
  left: 50%;
  font-weight: 700;
  font-size: 24px;
  font-family: cursive;
  background: rgba(255, 255, 255)
    linear-gradient(to right, #000 100%, rgb(0, 0, 0) 0%) no-repeat 0 0;
  background-size: 0% 100%;
  -webkit-background-clip: text;
  transform: translateX(-50%);
  animation: show 3s linear forwards;
  -webkit-text-fill-color: transparent;
}

.go {
  position: absolute;
  top: 300px;
  left: 50%;
  font-weight: 700;
  font-size: 24px;
  font-family: cursive;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  animation: showBtn 1s linear forwards 3s;
}
.go:hover {
  text-decoration: none !important;
}

.v-button {
  margin-right: 20px;
}
