.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}
.form-item:after {
  content: attr(data-message);
  position: absolute;
  bottom: -20px;
  left: 80px;
  font-size: 14px;
  color: #ff0712;
}
.form-item .label {
  margin-right: 10px;
}
.form-item .rules:before {
  content: '*';
  color: red;
  position: absolute;
  left: -8px;
  top: 8px;
}
