.v-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.v-layout .header,
.v-layout .footer {
  width: 100%;
  height: 80px;
  background: #c6cde5;
}
.v-layout .aside {
  width: 200px;
  min-height: 200px;
  background: #b9c0d8;
}
.v-layout .main {
  display: flex;
  flex: 1;
  min-height: 200px;
  background: #bdc6e7;
}
