.v-popconfirm-content {
  position: relative;
  display: inline-block;
}
.v-popconfirm {
  position: absolute;
  top: 46px;
  left: 50%;
  z-index: 102;
  padding: 10px;
  background: #fff;
  border: 1px solid #e0dedecc;
  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);
}
.v-popconfirm .arrow {
  position: absolute;
  top: -16px;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #e0dedecc transparent;
  transform: translateX(-50%);
}
.v-popconfirm .arrow::after {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #fff transparent;
  transform: translateX(-50%);
  content: '';
}
.v-popconfirm .header {
  display: flex;
  align-items: center;
}
.v-popconfirm .header .icon-info {
  color: #4c69bd;
}
.v-popconfirm .header .title {
  max-width: 180px;
  margin-left: 10px;
  font-size: 14px;
}
.v-popconfirm .btn {
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
}
.v-popconfirm .btn .v-button {
  width: 45px;
  margin-right: 10px;
}
.v-popconfirm .btn .v-button:nth-child(2) {
  border: none;
}
