.v-input {
  display: flex;
  height: 32px;
  overflow: hidden;
  line-height: 32px;
  border: 1px solid #3a3a3a42;
  border-radius: 4px;
}
.v-input .input {
  width: 100%;
  border: none;
}
.v-input .input:focus {
  outline: none;
}
.v-input .input::placeholder {
  color: #b0adad;
}
.v-input .textIndent {
  text-indent: 8px;
}
.v-input:focus-within {
  border: 1px solid #8c8ce8;
}
.v-input .iconfont {
  width: 30px;
  color: #afafaf;
  font-size: 16px;
  text-align: center;
}
.v-input .icon-view {
  cursor: pointer;
}
