.v-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.v-header .title {
  font-weight: 500;
  font-size: 17px;
}
.v-header .icon-close {
  color: #909399;
  font-size: 18px;
  cursor: pointer;
}
.v-header .icon-close:hover {
  color: #5c5c5c;
}
.v-footer {
  margin-top: 30px;
}
.v-footer .v-button {
  margin-right: 30px;
}
