.menu {
  width: 200px;
  color: #999999;
  font-size: 15px;
  background: #2c2a2e;
}
.menu .sub-menu .sub-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
}
.menu .sub-menu .sub-menu-header:hover {
  background: #767474;
}
.menu .sub-menu .sub-menu-header .menu-icon {
  margin-right: 10px;
}
.menu .sub-menu .sub-content .item-li {
  padding: 10px 20px;
  color: #999999;
  line-height: 30px;
  cursor: pointer;
}
.menu .sub-menu .sub-content .item-li:hover {
  background: #000;
}
