.menu {
  width: 200px;
  color: #999999;
  font-size: 15px;
  background: #2c2a2e;
}
.menu .sub-menu .sub-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
.menu .sub-menu .sub-menu-header:hover {
  background: #767474;
}
.menu .sub-menu .sub-menu-header .sub-menu-title {
  margin-left: 10px;
}
.menu .sub-menu .sub-content {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu .sub-menu .sub-content li {
  padding: 10px;
  color: #999999;
  line-height: 30px;
  text-indent: 20px;
  cursor: pointer;
}
.menu .sub-menu .sub-content li:hover {
  background: #000;
}
