@font-face {
  font-family: "iconfont"; /* Project id 3664582 */
  src:url('./iconfont.ttf?t=1663817116665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bicycle:before {
  content: "\e675";
}

.icon-watch-1:before {
  content: "\e775";
}

.icon-cherry:before {
  content: "\e676";
}

.icon-zoom-out:before {
  content: "\e776";
}

.icon-coffee:before {
  content: "\e677";
}

.icon-takeaway-box:before {
  content: "\e777";
}

.icon-coffee-cup:before {
  content: "\e678";
}

.icon-sunrise-1:before {
  content: "\e778";
}

.icon-circle-plus-outline:before {
  content: "\e679";
}

.icon-bottom-right:before {
  content: "\e67a";
}

.icon-c-scale-to-original:before {
  content: "\e67b";
}

.icon-collection-tag:before {
  content: "\e67c";
}

.icon-circle-check:before {
  content: "\e67d";
}

.icon-bottom:before {
  content: "\e67e";
}

.icon-data-line:before {
  content: "\e67f";
}

.icon-d-caret:before {
  content: "\e680";
}

.icon-cloudy-and-sunny:before {
  content: "\e681";
}

.icon-discount:before {
  content: "\e682";
}

.icon-cpu:before {
  content: "\e683";
}

.icon-crop:before {
  content: "\e684";
}

.icon-chat-round:before {
  content: "\e685";
}

.icon-chicken:before {
  content: "\e686";
}

.icon-burger:before {
  content: "\e687";
}

.icon-chat-dot-round:before {
  content: "\e688";
}

.icon-connection:before {
  content: "\e689";
}

.icon-document-copy:before {
  content: "\e68a";
}

.icon-basketball:before {
  content: "\e68b";
}

.icon-box:before {
  content: "\e68c";
}

.icon-caret-left:before {
  content: "\e68d";
}

.icon-dish-1:before {
  content: "\e68e";
}

.icon-chat-dot-square:before {
  content: "\e68f";
}

.icon-close-notification:before {
  content: "\e690";
}

.icon-cold-drink:before {
  content: "\e691";
}

.icon-data-board:before {
  content: "\e692";
}

.icon-coin:before {
  content: "\e693";
}

.icon-circle-plus:before {
  content: "\e694";
}

.icon-chat-square:before {
  content: "\e695";
}

.icon-delete-solid:before {
  content: "\e696";
}

.icon-add-location:before {
  content: "\e697";
}

.icon-error:before {
  content: "\e698";
}

.icon-collection:before {
  content: "\e699";
}

.icon-chat-line-round:before {
  content: "\e69a";
}

.icon-caret-right:before {
  content: "\e69b";
}

.icon-delete-location:before {
  content: "\e69c";
}

.icon-copy-document:before {
  content: "\e69d";
}

.icon-document-remove:before {
  content: "\e69e";
}

.icon-d-arrow-left:before {
  content: "\e69f";
}

.icon-edit-outline:before {
  content: "\e6a0";
}

.icon-document-checked:before {
  content: "\e6a1";
}

.icon-discover:before {
  content: "\e6a2";
}

.icon-delete:before {
  content: "\e6a3";
}

.icon-document-add:before {
  content: "\e6a4";
}

.icon-files:before {
  content: "\e6a5";
}

.icon-finished:before {
  content: "\e6a6";
}

.icon-d-arrow-right:before {
  content: "\e6a7";
}

.icon-folder-add:before {
  content: "\e6a8";
}

.icon-download:before {
  content: "\e6a9";
}

.icon-data-analysis:before {
  content: "\e6aa";
}

.icon-full-screen:before {
  content: "\e6ab";
}

.icon-folder-delete:before {
  content: "\e6ac";
}

.icon-edit:before {
  content: "\e6ad";
}

.icon-goblet-full:before {
  content: "\e6ae";
}

.icon-folder-remove:before {
  content: "\e6af";
}

.icon-goblet-square:before {
  content: "\e6b0";
}

.icon-date:before {
  content: "\e6b1";
}

.icon-goblet:before {
  content: "\e6b2";
}

.icon-football:before {
  content: "\e6b3";
}

.icon-fork-spoon:before {
  content: "\e6b4";
}

.icon-house:before {
  content: "\e6b5";
}

.icon-goods:before {
  content: "\e6b6";
}

.icon-food:before {
  content: "\e6b7";
}

.icon-guide:before {
  content: "\e6b8";
}

.icon-check:before {
  content: "\e6b9";
}

.icon-document:before {
  content: "\e6ba";
}

.icon-coordinate:before {
  content: "\e6bb";
}

.icon-folder-checked:before {
  content: "\e6bc";
}

.icon-cloudy:before {
  content: "\e6bd";
}

.icon-eleme:before {
  content: "\e6be";
}

.icon-ice-cream-round:before {
  content: "\e6bf";
}

.icon-hot-water:before {
  content: "\e6c0";
}

/* .icon-link:before {
  content: "\e6c1";
} */

.icon-female:before {
  content: "\e6c2";
}

.icon-male:before {
  content: "\e6c3";
}

.icon-light-rain:before {
  content: "\e6c4";
}

.icon-ice-cream:before {
  content: "\e6c5";
}

.icon-lock:before {
  content: "\e6c6";
}

.icon-folder:before {
  content: "\e6c7";
}

.icon-location-information:before {
  content: "\e6c8";
}

.icon-lollipop:before {
  content: "\e6c9";
}

.icon-document-delete:before {
  content: "\e6ca";
}

.icon-heavy-rain:before {
  content: "\e6cb";
}

.icon-film:before {
  content: "\e6cc";
}

.icon-knife-fork:before {
  content: "\e6cd";
}

.icon-goblet-square-full:before {
  content: "\e6ce";
}

.icon-grape:before {
  content: "\e6cf";
}

.icon-key:before {
  content: "\e6d0";
}

.icon-ice-drink:before {
  content: "\e6d1";
}

.icon-message:before {
  content: "\e6d2";
}

.icon-medal-1:before {
  content: "\e6d3";
}

.icon-milk-tea:before {
  content: "\e6d4";
}

.icon-location:before {
  content: "\e6d5";
}

.icon-microphone:before {
  content: "\e6d6";
}

.icon-dish:before {
  content: "\e6d7";
}

.icon-circle-close:before {
  content: "\e6d8";
}

.icon-menu:before {
  content: "\e6d9";
}

.icon-more-outline:before {
  content: "\e6da";
}

.icon-news:before {
  content: "\e6db";
}

.icon-notebook-1:before {
  content: "\e6dc";
}

.icon-mobile:before {
  content: "\e6dd";
}

.icon-loading:before {
  content: "\e6de";
}

.icon-moon:before {
  content: "\e6df";
}

.icon-odometer:before {
  content: "\e6e0";
}

.icon-first-aid-kit:before {
  content: "\e6e1";
}

.icon-minus:before {
  content: "\e6e2";
}

.icon-message-solid:before {
  content: "\e6e3";
}

.icon-headset:before {
  content: "\e6e4";
}

.icon-money:before {
  content: "\e6e5";
}

.icon-map-location:before {
  content: "\e6e6";
}

.icon-paperclip:before {
  content: "\e6e7";
}

.icon-close:before {
  content: "\e6e8";
}

.icon-folder-opened:before {
  content: "\e6e9";
}

.icon-help:before {
  content: "\e6ea";
}

.icon-phone:before {
  content: "\e6eb";
}

.icon-pie-chart:before {
  content: "\e6ec";
}

.icon-no-smoking:before {
  content: "\e6ed";
}

.icon-office-building:before {
  content: "\e6ee";
}

.icon-postcard:before {
  content: "\e6ef";
}

.icon-position:before {
  content: "\e6f0";
}

.icon-Ice-cream-square:before {
  content: "\e6f1";
}

.icon-price-tag:before {
  content: "\e6f2";
}

.icon-dessert:before {
  content: "\e6f3";
}

.icon-picture-outline-round:before {
  content: "\e6f4";
}

.icon-more:before {
  content: "\e6f5";
}

.icon-info:before {
  content: "\e6f6";
}

.icon-partly-cloudy:before {
  content: "\e6f7";
}

.icon-reading:before {
  content: "\e6f8";
}

.icon-location-outline:before {
  content: "\e6f9";
}

.icon-open:before {
  content: "\e6fa";
}

.icon-refresh:before {
  content: "\e6fb";
}

.icon-right:before {
  content: "\e6fc";
}

.icon-phone-outline:before {
  content: "\e6fd";
}

.icon-picture-outline:before {
  content: "\e6fe";
}

.icon-place:before {
  content: "\e6ff";
}

.icon-ice-tea:before {
  content: "\e700";
}

.icon-printer:before {
  content: "\e701";
}

.icon-s-cooperation:before {
  content: "\e702";
}

.icon-s-flag:before {
  content: "\e703";
}

.icon-lightning:before {
  content: "\e704";
}

.icon-magic-stick:before {
  content: "\e705";
}

.icon-moon-night:before {
  content: "\e706";
}

.icon-s-check:before {
  content: "\e707";
}

.icon-refrigerator:before {
  content: "\e708";
}

.icon-pear:before {
  content: "\e709";
}

.icon-s-home:before {
  content: "\e70a";
}

.icon-mobile-phone:before {
  content: "\e70b";
}

.icon-s-open:before {
  content: "\e70c";
}

.icon-potato-strips:before {
  content: "\e70d";
}

.icon-s-help:before {
  content: "\e70e";
}

.icon-monitor:before {
  content: "\e70f";
}

.icon-s-custom:before {
  content: "\e710";
}

.icon-s-goods:before {
  content: "\e711";
}

.icon-rank:before {
  content: "\e712";
}

.icon-refresh-left:before {
  content: "\e713";
}

.icon-remove-outline:before {
  content: "\e714";
}

.icon-s-platform:before {
  content: "\e715";
}

.icon-mic:before {
  content: "\e716";
}

.icon-s-management:before {
  content: "\e717";
}

.icon-platform-eleme:before {
  content: "\e718";
}

.icon-s-fold:before {
  content: "\e719";
}

.icon-notebook-2:before {
  content: "\e71a";
}

.icon-medal:before {
  content: "\e71b";
}

.icon-s-data:before {
  content: "\e71c";
}

.icon-s-promotion:before {
  content: "\e71d";
}

.icon-s-grid:before {
  content: "\e71e";
}

.icon-receiving:before {
  content: "\e71f";
}

.icon-s-ticket:before {
  content: "\e720";
}

.icon-s-opportunity:before {
  content: "\e721";
}

.icon-refresh-right:before {
  content: "\e722";
}

.icon-s-unfold:before {
  content: "\e723";
}

.icon-orange:before {
  content: "\e724";
}

.icon-s-tools:before {
  content: "\e725";
}

.icon-question:before {
  content: "\e726";
}

.icon-mouse:before {
  content: "\e727";
}

.icon-s-shop:before {
  content: "\e728";
}

.icon-s-operation:before {
  content: "\e729";
}

.icon-scissors:before {
  content: "\e72a";
}

.icon-s-marketing:before {
  content: "\e72b";
}

.icon-share:before {
  content: "\e72c";
}

.icon-shopping-bag-1:before {
  content: "\e72d";
}

.icon-sell:before {
  content: "\e72e";
}

.icon-set-up:before {
  content: "\e72f";
}

.icon-setting:before {
  content: "\e730";
}

.icon-shopping-cart-1:before {
  content: "\e731";
}

.icon-picture:before {
  content: "\e732";
}

.icon-s-claim:before {
  content: "\e733";
}

.icon-school:before {
  content: "\e734";
}

.icon-ship:before {
  content: "\e735";
}

.icon-smoking:before {
  content: "\e736";
}

.icon-shopping-cart-2:before {
  content: "\e737";
}

.icon-search:before {
  content: "\e738";
}

.icon-shopping-cart-full:before {
  content: "\e739";
}

.icon-sort-down:before {
  content: "\e73a";
}

.icon-plus:before {
  content: "\e73b";
}

.icon-remove:before {
  content: "\e73c";
}

.icon-soccer:before {
  content: "\e73d";
}

.icon-sort:before {
  content: "\e73e";
}

.icon-star-on:before {
  content: "\e73f";
}

.icon-present:before {
  content: "\e740";
}

.icon-s-release:before {
  content: "\e741";
}

.icon-star-off:before {
  content: "\e742";
}

.icon-suitcase:before {
  content: "\e743";
}

.icon-s-comment:before {
  content: "\e744";
}

.icon-stopwatch:before {
  content: "\e745";
}

.icon-switch-button:before {
  content: "\e746";
}

.icon-suitcase-1:before {
  content: "\e747";
}

.icon-sunny:before {
  content: "\e748";
}

.icon-success:before {
  content: "\e749";
}

.icon-s-order:before {
  content: "\e74a";
}

.icon-sunrise:before {
  content: "\e74b";
}

.icon-shopping-bag-2:before {
  content: "\e74c";
}

.icon-s-finance:before {
  content: "\e74d";
}

.icon-tickets:before {
  content: "\e74e";
}

.icon-time:before {
  content: "\e74f";
}

.icon-tableware:before {
  content: "\e750";
}

.icon-toilet-paper:before {
  content: "\e751";
}

.icon-trophy-1:before {
  content: "\e752";
}

.icon-top:before {
  content: "\e753";
}

.icon-truck:before {
  content: "\e754";
}

.icon-timer:before {
  content: "\e755";
}

.icon-sold-out:before {
  content: "\e756";
}

.icon-top-right:before {
  content: "\e757";
}

.icon-upload2:before {
  content: "\e758";
}

.icon-user:before {
  content: "\e759";
}

.icon-unlock:before {
  content: "\e75a";
}

.icon-thumb:before {
  content: "\e75b";
}

.icon-trophy:before {
  content: "\e75c";
}

.icon-wallet:before {
  content: "\e75d";
}

.icon-table-lamp:before {
  content: "\e75e";
}

.icon-top-left:before {
  content: "\e75f";
}

.icon-service:before {
  content: "\e760";
}

.icon-arrow-down:before {
  content: "\e661";
}

.icon-warning:before {
  content: "\e761";
}

.icon-aim:before {
  content: "\e662";
}

.icon-video-play:before {
  content: "\e762";
}

.icon-attract:before {
  content: "\e663";
}

.icon-turn-off-microphone:before {
  content: "\e763";
}

.icon-bottom-left:before {
  content: "\e664";
}

.icon-umbrella:before {
  content: "\e764";
}

.icon-alarm-clock:before {
  content: "\e665";
}

.icon-sunset:before {
  content: "\e765";
}

.icon-apple:before {
  content: "\e666";
}

.icon-warning-outline:before {
  content: "\e766";
}

.icon-camera:before {
  content: "\e667";
}

.icon-zoom-in:before {
  content: "\e767";
}

.icon-camera-solid:before {
  content: "\e668";
}

.icon-watch:before {
  content: "\e768";
}

.icon-back:before {
  content: "\e669";
}

.icon-video-camera:before {
  content: "\e769";
}

.icon-arrow-left:before {
  content: "\e66a";
}

.icon-sort-up:before {
  content: "\e76a";
}

.icon-brush:before {
  content: "\e66b";
}

.icon-upload:before {
  content: "\e76b";
}

.icon-baseball:before {
  content: "\e66c";
}

.icon-video-pause:before {
  content: "\e76c";
}

.icon-arrow-right:before {
  content: "\e66d";
}

.icon-watermelon:before {
  content: "\e76d";
}

.icon-bangzhu:before {
  content: "\e66e";
}

.icon-sugar:before {
  content: "\e76e";
}

.icon-caret-bottom:before {
  content: "\e66f";
}

.icon-turn-off:before {
  content: "\e76f";
}

.icon-caret-top:before {
  content: "\e670";
}

.icon-user-solid:before {
  content: "\e770";
}

.icon-arrow-up:before {
  content: "\e671";
}

.icon-view:before {
  content: "\e771";
}

.icon-bank-card:before {
  content: "\e672";
}

.icon-video-camera-solid:before {
  content: "\e772";
}

.icon-chat-line-square:before {
  content: "\e673";
}

.icon-wind-power:before {
  content: "\e773";
}

.icon-bell:before {
  content: "\e674";
}

.icon-water-cup:before {
  content: "\e774";
}

