.v-dialog-content {
  position: fixed;
  top: 40%;
  right: 0;
  left: 0;
  z-index: 102;
  margin: auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
}
.v-dialog-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.v-dialog-content .header .title {
  font-weight: 500;
  font-size: 17px;
}
.v-dialog-content .header .icon-close {
  color: #909399;
  font-size: 18px;
  cursor: pointer;
}
.v-dialog-content .header .icon-close:hover {
  color: #5c5c5c;
}
.v-dialog-content .content {
  margin-top: 40px;
}
.v-dialog-content .footer {
  margin-top: 30px;
}
.v-dialog-content .footer Button {
  margin-right: 30px;
}
