.v-dialog-wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  right: 0;
  bottom: 0;
}
.dialog {
  border: 1px solid #eee;
  background: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 20px;
  border-radius: 2px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-cross {
      cursor: pointer;
      font-size: 20px;
      color: #cfcfcf;
    }
  }
  .content {
    margin-top: 40px;
  }
  .footer {
    margin-top: 20px;
    Button {
      margin-right: 20px;
    }
  }
}
