.v-message-enter {
  transform: translate(0, -50px);
  opacity: 0;
}

.v-message-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 400ms;
}

.v-message-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.v-message-exit-active {
  transform: translate(0, -50px);
  opacity: 0.01;
  transition: all 400ms;
}

.v-message-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999999;
  transform: translateX(-50%);

  .v-message {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    font-family: cursive;
    line-height: 44px;
    border-radius: 6px;

    &-title {
      margin-left: 10px;
    }

    &--info {
      color: #636363;
      background: #fff;
      border: 1px solid #e0e0e0;
    }

    &--success {
      color: #1cb94ed4;
      background: #ebfff5;
      border: 1px solid #cefbe4;
    }

    &--warning {
      color: #e6a23c;
      background: #fdf6ec;
      border: 1px solid #faecd8;
    }

    &--error {
      color: #ff3e3ee3;
      background: #fde7e7;
      border: 1px solid rgb(249, 217, 217);
    }
  }
}
