@keyframes closeMsg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    margin-top: -65px;
  }
}

@keyframes showMsg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-top: 20px;
  }
}

@keyframes moves {
  from {
    background: red;
  }

  to {
    margin-top: -49px;
  }
}

.v-message {
  font-family: cursive;
  position: fixed;
  z-index: 999999;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 0 20px;
  font-weight: 300;
  line-height: 44px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(235, 233, 233, 0.653);
  display: flex;

  &--info {
    background: #e5e5e5;
    color: #5b5858;
    border: 1px solid rgb(230, 229, 229);
  }

  &--success {
    background: #ebfff5;
    color: #1cb94ed4;
    border: 1px solid #ddffe2;
  }

  &--warning {
    background: #fff5df;
    color: #b0841b;
    border: 1px solid #fef2d8;
  }

  &--error {
    background: #ffe1e1;
    color: #ff3e3ee3;
    border: 1px solid #ffdcdc;
  }
}
