.v-divider-line {
  display: flex;
  align-items: center;
  margin: 10px 0;
  white-space: nowrap;
}
.v-divider-line::before {
  display: block;
  width: 50%;
  border: 0;
  border-top: 0.5px solid #d0d0d5;
  content: '';
}
.v-divider-line::after {
  display: block;
  width: 50%;
  border: 0;
  border-top: 0.5px solid #d0d0d5;
  content: '';
}
.v-divider-dashed {
  width: 98%;
  margin: 10px 0;
  padding-top: 0.5px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}
.v-divider-content::before {
  margin-right: 10px;
}
.v-divider-content::after {
  margin-left: 10px;
}
