.v-drawer-top-enter {
  transform: translateY(-100%);
}
.v-drawer-top-enter-active {
  transform: translate(0);
  transition: transform 400ms ease-out;
}
.v-drawer-top-exit {
  transform: translate(0);
}
.v-drawer-top-exit-active {
  transform: translateY(-100%);
  transition: all 400ms ease;
}
.v-drawer-right-enter {
  transform: translate(100%);
}
.v-drawer-right-enter-active {
  transform: translate(0);
  transition: transform 400ms ease-out;
}
.v-drawer-right-exit {
  transform: translate(0);
}
.v-drawer-right-exit-active {
  transform: translate(100%);
  transition: all 400ms ease;
}
.v-drawer-bottom-enter {
  transform: translateY(100%);
}
.v-drawer-bottom-enter-active {
  transform: translate(0);
  transition: transform 400ms ease-out;
}
.v-drawer-bottom-exit {
  transform: translate(0);
}
.v-drawer-bottom-exit-active {
  transform: translateY(100%);
  transition: all 400ms ease;
}
.v-drawer-left-enter {
  transform: translate(-100%);
}
.v-drawer-left-enter-active {
  transform: translate(0);
  transition: transform 400ms ease-out;
}
.v-drawer-left-exit {
  transform: translate(0);
}
.v-drawer-left-exit-active {
  transform: translate(-100%);
  transition: all 400ms ease;
}
.v-drawer-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  top: 0;
  left: 0;
}
.v-drawer-content {
  position: fixed;
  background: #fff;
  z-index: 102;
}
.v-drawer-content .header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.v-drawer-content .header .icon-cross {
  cursor: pointer;
  font-size: 18px;
  color: #909399;
}
.v-drawer-content .content {
  padding: 10px;
}
.top {
  width: 100%;
  height: 30%;
  right: 0;
  top: 0;
}
.right {
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
}
.bottom {
  width: 100%;
  height: 30%;
  right: 0;
  bottom: 0;
}
.left {
  width: 25%;
  height: 100%;
  left: 0;
  top: 0;
}
