.v-drawer-masks-enter {
  opacity: 0;
}
.v-drawer-masks-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.v-drawer-masks-exit {
  opacity: 1;
}
.v-drawer-masks-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
.v-drawer-top-enter {
  transform: translateY(-100%);
}
.v-drawer-top-enter-active {
  transform: translateY(0);
  transition: all 400ms;
}
.v-drawer-top-exit {
  transform: translateY(0);
}
.v-drawer-top-exit-active {
  transform: translateY(-100%);
  transition: transform 400ms;
}
.v-drawer-right-enter {
  transform: translate(100%);
}
.v-drawer-right-enter-active {
  transform: translate(0);
  transition: transform 400ms;
}
.v-drawer-right-exit {
  transform: translate(0);
}
.v-drawer-right-exit-active {
  transform: translate(100%);
  transition: all 400ms;
}
.v-drawer-bottom-enter {
  transform: translateY(100%);
}
.v-drawer-bottom-enter-active {
  transform: translate(0);
  transition: transform 400ms;
}
.v-drawer-bottom-exit {
  transform: translate(0);
}
.v-drawer-bottom-exit-active {
  transform: translateY(100%);
  transition: all 400ms;
}
.v-drawer-left-enter {
  transform: translate(-100%);
}
.v-drawer-left-enter-active {
  transform: translate(0);
  transition: transform 400ms;
}
.v-drawer-left-exit {
  transform: translate(0);
}
.v-drawer-left-exit-active {
  transform: translate(-100%);
  transition: all 400ms;
}
.v-drawer-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.v-drawer-content {
  position: absolute;
  z-index: 102;
  width: 100vw;
  height: 30vh;
  background: #fff;
}
.v-drawer-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.v-drawer-content .header .icon-cross {
  color: #909399;
  font-size: 18px;
  cursor: pointer;
}
.v-drawer-content .content {
  padding: 10px;
}
.top {
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
}
.right {
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
}
.bottom {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
}
.left {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
}
