.v-pagination {
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  list-style: none;
}
.v-pagination .number {
  min-width: 20px;
  height: 20px;
  margin: 0 6px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #cecdcd;
  border-radius: 4px;
  cursor: pointer;
}
.v-pagination .number:hover {
  color: #4b50d5;
  border: 1px solid #4b50d5;
}
.v-pagination .omit {
  width: 20px;
  height: 20px;
  margin: 0 6px;
  padding: 6px;
  cursor: pointer;
}
.v-pagination .omit:hover .arrow {
  display: block;
  color: #4b50d5;
}
.v-pagination .omit:hover .more {
  display: none;
}
.v-pagination .omit .arrow {
  display: none;
}
.v-pagination .omit .more {
  display: block;
}
.v-pagination .current {
  color: #4b50d5;
  border: 1px solid #4b50d5;
}
.v-pagination .small {
  margin: 0 !important;
  background: transparent;
  border: none !important;
}
.v-pagination .small:hover {
  background: transparent;
}
.v-pagination .v-button-normal {
  width: 34px;
  height: 34px;
  margin: 0;
  line-height: 34px;
  text-align: center;
}
.v-pagination .v-button-normal:hover {
  color: #4b50d5;
  border: 1px solid #4b50d5;
}
.v-pagination .v-select {
  width: 100px;
  margin-left: 20px;
}
