.v-pagination {
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  list-style: none;
  cursor: pointer;
  .v-page {
    display: flex;
    align-items: center;
    .number {
      width: 20px;
      height: 20px;
      margin: 0 10px;
      padding: 6px;
      border: 1px solid rgb(206, 205, 205);
      border-radius: 4px;
      &:hover {
        color: #4b50d5;
        border: 1px solid #4b50d5;
      }
    }
    .omit {
      margin: 0 4px;
    }
    .current {
      color: #4b50d5;
      border: 1px solid #4b50d5;
    }
  }

  .small {
    margin: 0 !important;
    background: transparent;
    border: none !important;
    &:hover {
      background: transparent;
    }
  }
  .v-button-normal {
    width: 34px;
    height: 34px;
    margin: 0;
    line-height: 34px;
    text-align: center;
    &:hover {
      color: #4b50d5;
      border: 1px solid #4b50d5;
    }
  }
}
