.v-image {
  position: relative;
  width: 200px;
  height: 160px;
  cursor: pointer;
}
.v-image:hover > .cover {
  visibility: visible;
}
.v-image .cover {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 160px;
  background: rgba(11, 11, 11, 0.2);
  visibility: hidden;
}
.v-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 200px;
  height: 160px;
  object-fit: cover;
}
.v-image img:hover {
  background: #000;
}
