.select {
  width: 200px;
  height: 30px;
  border: 1px solid #afafaf;
  border-radius: 4px;
  position: relative;
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 4px;
    left: 10px;
  }
  .option-box {
    margin-top: 36px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 1px #9a9a9a;
    border-radius: 2px;
    .option {
      margin-bottom: 8px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .iconfont {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #afafaf;
  }

  .hidden {
    visibility: hidden;
  }
  .show {
    visibility: none;
  }
}

.is-focus {
  border-color: #7f96ff;
}
