.my-input {
  display: flex;
  width: 220px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #3a3a3a42;
  border-radius: 2px;
}
.my-input .v-input {
  flex: 1;
  border: none;
}
.my-input .v-input:focus {
  outline: none;
}
.my-input .v-input::placeholder {
  color: #b0adad;
}
.my-input .v-input-textIndent {
  text-indent: 10px;
}
.my-input:focus-within {
  border: 1px solid #8c8ce8;
}
.my-input .iconfont {
  width: 30px;
  color: #afafaf;
  font-size: 16px;
  text-align: center;
}
