.my-input {
  display: flex;
  border: 1px solid #3a3a3a42;
  border-radius: 2px;
  width: 220px;
  height: 32px;
  line-height: 32px;
}
.my-input .input {
  border: none;
  flex: 1;
}
.my-input .input:focus {
  outline: none;
}
.my-input .textIndent {
  text-indent: 10px;
}
.my-input:focus-within {
  border: 1px solid #8c8ce8;
}
.my-input .iconfont {
  width: 30px;
  font-size: 18px;
  color: #afafaf;
  text-align: center;
}
