.my-input {
  display: flex;
  border: 1px solid #3a3a3a42;
  border-radius: 2px;
  width: 220px;
  height: 32px;
  line-height: 32px;
  .input {
    border: none;
    flex: 1;
    &:focus {
      outline: none;
    }
  }
  .textIndent {
    text-indent: 10px;
  }
  &:focus-within {
    border: 1px solid #8c8ce8;
  }

  .iconfont {
    width: 30px;
    font-size: 18px;
    color: #afafaf;
    text-align: center;
  }
}
