.progress-wrapper {
  width: 360px;
  position: relative;
}
.progress-wrapper .progress-line {
  width: 360px;
  border-radius: 10px;
  height: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #e0e0e0;
}
.progress-wrapper .progress-line .progress-bar {
  background: #4b50d5;
  border-radius: 10px;
  height: 8px;
}
.progress-wrapper .progress-line .percentage {
  position: absolute;
  left: 370px;
  font-size: 13px;
}
.box {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 6px red;
  border-radius: 50%;
  position: relative;
  margin-left: 50px;
}
.box .left {
  position: absolute;
  top: -6px;
  left: -6px;
  height: 100px;
  width: 56px;
  background: #fff;
  border-width: 6px;
  border-color: orange transparent orange orange;
  border-style: solid;
  border-radius: 56px 10px 10px 56px;
}
