.v-popconfirm-enter {
  opacity: 0;
}

.v-popconfirm-enter-active {
  opacity: 1;
  transition: all 400ms;
}

.v-popconfirm-exit {
  opacity: 1;
}

.v-popconfirm-exit-active {
  opacity: 0;
  transition: all 400ms;
}
.v-popconfirm-content {
  position: relative;
  display: inline-block;
}

.popconfirm {
  position: absolute;
  top: 36px;
  left: 50%;
  z-index: 102;
  min-width: 150px;
  padding: 10px;
  background: #fff;
  border: 1px solid #e0dedecc;
  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);
  .arrow {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #e0dedecc transparent;
    transform: translateX(-50%);
    &::after {
      position: absolute;
      top: -7px;
      left: 50%;
      width: 0;
      height: 0;
      border: 8px solid;
      border-color: transparent transparent #fff transparent;
      transform: translateX(-50%);
      content: '';
    }
  }
  .header {
    display: flex;
    align-items: center;
    .icon-info {
      color: #4c69bd;
    }

    .title {
      margin-left: 10px;
      font-size: 15px;
    }
  }

  .btn {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;

    .v-button {
      width: 45px;
      margin-right: 20px;
      &:nth-child(2) {
        border: none;
      }
    }
  }
}
